#toggle-block {
  width: 100px;
  height: 100px;
  background-color: rgb(226, 12, 12);
  margin-bottom: 10px;
  margin-top: 10px;
}

.counter {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
